<Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
    <Found>
        <RouteView DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>صفحه پیدا نشد.</p>
        </LayoutView>
    </NotFound>
</Router>
