USE [OfficeAutomationDB]
GO

/******************************************************
 * 1️⃣ Table: UserSessions
 * Stores user session information including token, device, and active status
 ******************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
    [SessionId] [uniqueidentifier] NOT NULL,       -- Unique session ID
    [UserId] [int] NOT NULL,                       -- Related user ID
    [SessionToken] [uniqueidentifier] NOT NULL,    -- Session token for authentication
      NOT NULL,          -- Type of client (web, mobile, etc.)
      NULL,              -- User IP address
      NULL,            -- User device information
      NOT NULL,          -- Session creation timestamp
      NOT NULL,       -- Last activity timestamp
    [IsActive] [bit] NOT NULL,                    -- Active status of session
    [RowVersion] [timestamp] NOT NULL,            -- Row version for concurrency control
 CONSTRAINT [PK_UserSessions] PRIMARY KEY CLUSTERED 
(
    [SessionId] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO

/******************************************************
 * 2️⃣ View: vw_ActiveUserSessions
 * Shows all active user sessions
 ******************************************************/
CREATE VIEW [dbo].[vw_ActiveUserSessions]
AS
SELECT 
    SessionId, UserId, SessionToken, ClientType, IPAddress, DeviceInfo, CreatedAt, LastActivity
FROM dbo.UserSessions
WHERE IsActive = 1;
GO

/******************************************************
 * 3️⃣ Table: AuditLogs
 * Stores audit logs for user activities
 ******************************************************/
CREATE TABLE [dbo].[AuditLogs](
    [LogId] [bigint] IDENTITY(1,1) NOT NULL,      -- Unique log ID
    [UserId] [int] NULL,                           -- User ID
      NOT NULL,            -- Performed action
    [Details] [nvarchar](max) NULL,               -- Additional details
      NULL,              -- User IP
      NOT NULL,          -- Log timestamp
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED ([LogId] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/******************************************************
 * 4️⃣ Table: AuditLogs_Archive
 * Archive table for long-term audit log storage
 ******************************************************/
CREATE TABLE [dbo].[AuditLogs_Archive](
    [LogId] [bigint] IDENTITY(1,1) NOT NULL,
    [UserId] [int] NULL,
      NULL,
    [Details] [nvarchar](max) NULL,
      NULL,
      NULL,
 CONSTRAINT [PK_AuditLogs_Archive] PRIMARY KEY CLUSTERED ([LogId] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/******************************************************
 * 5️⃣ Table: CaptchaAttempts
 * Records user CAPTCHA attempts
 ******************************************************/
CREATE TABLE [dbo].[CaptchaAttempts](
    [CaptchaAttemptId] [bigint] IDENTITY(1,1) NOT NULL,
    [UserId] [int] NULL,                          -- Related user
      NULL,              -- User IP address
      NOT NULL,           -- Action associated with CAPTCHA
    [IsSuccess] [bit] NOT NULL,                  -- Success or failure
      NOT NULL,         -- Attempt timestamp
      NULL,             -- Optional details
 CONSTRAINT [PK_CaptchaAttempts] PRIMARY KEY CLUSTERED ([CaptchaAttemptId] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 6️⃣ Table: Cartable
 * Stores user tasks or inbox items
 ******************************************************/
CREATE TABLE [dbo].[Cartable](
    [CartableId] [int] IDENTITY(1,1) NOT NULL,
    [UserId] [int] NOT NULL,                       -- User who owns the cartable
    [TaskId] [int] NOT NULL,                       -- Related task
    [IsRead] [bit] NOT NULL,                       -- Read status
      NOT NULL,          -- Received timestamp
    [RowVersion] [timestamp] NOT NULL,             -- Row version
 CONSTRAINT [PK_Cartable] PRIMARY KEY CLUSTERED ([CartableId] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 7️⃣ Table: EmailVerifications
 * Manages email verification for users
 ******************************************************/
CREATE TABLE [dbo].[EmailVerifications](
    [VerificationId] [uniqueidentifier] NOT NULL,  -- Unique verification ID
    [UserId] [int] NOT NULL,                       -- Related user
      NOT NULL,             -- Verification token
      NOT NULL,          -- Expiration timestamp
      NOT NULL,          -- Creation timestamp
      NULL,           -- Confirmation timestamp
      NULL,             -- IP of confirmation
 CONSTRAINT [PK_EmailVerifications] PRIMARY KEY CLUSTERED ([VerificationId] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 8️⃣ Table: FailedLoginAttempts
 * Records failed login attempts
 ******************************************************/
CREATE TABLE [dbo].[FailedLoginAttempts](
    [AttemptId] [int] IDENTITY(1,1) NOT NULL,
    [UserId] [int] NOT NULL,                       -- Related user
      NOT NULL,         -- Attempt timestamp
      NULL,              -- User IP address
PRIMARY KEY CLUSTERED ([AttemptId] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 9️⃣ Table: Files
 * Stores uploaded files
 ******************************************************/
CREATE TABLE [dbo].[Files](
    [FileId] [int] IDENTITY(1,1) NOT NULL,
      NOT NULL,           -- Name of file
      NULL,           -- MIME type
    [FileSize] [bigint] NOT NULL,                 -- File size in bytes
    [FileContent] [varbinary](max) NULL,          -- File binary content
    [UploadedBy] [int] NOT NULL,                  -- User who uploaded
      NOT NULL,         -- Upload timestamp
    [IsDeleted] [bit] NOT NULL,                   -- Deleted flag
    [RowVersion] [timestamp] NOT NULL,            -- Row version
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED ([FileId] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/******************************************************
 * 🔟 Table: RefreshTokens
 * Stores refresh tokens for JWT authentication
 ******************************************************/
CREATE TABLE [dbo].[RefreshTokens](
    [RefreshTokenId] [uniqueidentifier] NOT NULL,  -- Unique token ID
    [UserId] [int] NOT NULL,                       -- Related user
      NOT NULL,             -- Refresh token value
      NOT NULL,          -- Expiration timestamp
      NOT NULL,          -- Created timestamp
      NULL,            -- Creator IP
      NULL,              -- Revoked timestamp
      NULL,            -- Revoked by IP
      NULL,       -- Replacement token
    [IsRevoked]  AS (CASE WHEN [RevokedAt] IS NOT NULL THEN 1 ELSE 0 END), -- Computed revoked status
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED ([RefreshTokenId] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 1️⃣1️⃣ Table: Roles
 * Stores user roles
 ******************************************************/
CREATE TABLE [dbo].[Roles](
    [RoleId] [int] IDENTITY(1,1) NOT NULL,        -- Role ID
      NOT NULL,          -- Role name
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED ([RoleId] ASC),
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED ([RoleName] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * 1️⃣2️⃣ Table: Tasks
 * Stores tasks assigned to users
 ******************************************************/
CREATE TABLE [dbo].[Tasks](
    [TaskId] [int] IDENTITY(1,1) NOT NULL,       -- Task ID
      NOT NULL,             -- Task title
    [Description] [nvarchar](max) NULL,           -- Task description
    [AssignedTo] [int] NULL,                       -- Assigned user
      NOT NULL,            -- Task status
      NULL,               -- Due date
      NOT NULL,         -- Creation timestamp
      NOT NULL,         -- Last update timestamp
    [IsDeleted] [bit] NOT NULL,                  -- Deleted flag
    [RowVersion] [timestamp] NOT NULL,           -- Row version
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED ([TaskId] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/******************************************************
 * 1️⃣3️⃣ Table: UserRoles
 * Maps users to roles
 ******************************************************/
CREATE TABLE [dbo].[UserRoles](
    [UserId] [int] NOT NULL,                       -- Related user
    [RoleId] [int] NOT NULL,                       -- Related role
      NOT NULL,          -- Assignment timestamp
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED ([UserId], [RoleId])
) ON [PRIMARY]
GO

/******************************************************
 * 1️⃣4️⃣ Table: Users
 * Stores user information
 ******************************************************/
CREATE TABLE [dbo].[Users](
    [UserId] [int] IDENTITY(1,1) NOT NULL,        -- User ID
      NOT NULL,          -- Username
      NOT NULL,     -- Password hash
      NOT NULL,     -- Password salt
      NULL,                 -- Email address
      NULL,              -- Full name
    [IsActive] [bit] NOT NULL,                    -- Active status
    [IsDeleted] [bit] NOT NULL,                   -- Deleted flag
      NOT NULL,          -- Created timestamp
      NOT NULL,          -- Updated timestamp
    [RowVersion] [timestamp] NOT NULL,            -- Row version
    [IsEmailConfirmed] [bit] NOT NULL,            -- Email confirmed status
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED ([UserId] ASC),
 CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED ([UserName] ASC)
) ON [PRIMARY]
GO

/******************************************************
 * Stored Procedure: sp_ArchiveAuditLogs
 * Archives audit logs before a given date and deletes them from main table
 ******************************************************/
CREATE PROCEDURE [dbo].[sp_ArchiveAuditLogs]
    @BeforeDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO AuditLogs_Archive (UserId, Action, Details, IPAddress, Timestamp)
        SELECT UserId, Action, Details, IPAddress, Timestamp
        FROM AuditLogs
        WHERE Timestamp < @BeforeDate;

        DELETE FROM AuditLogs
        WHERE Timestamp < @BeforeDate;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg,16,1);
    END CATCH
END;
GO

/******************************************************
 * Stored Procedure: sp_CleanupExpiredSessions
 * Deactivates sessions inactive for more than a specified time
 ******************************************************/
CREATE PROCEDURE [dbo].[sp_CleanupExpiredSessions]
    @InactivityMinutes INT = 30
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE UserSessions
        SET IsActive = 0
        WHERE DATEDIFF(MINUTE, LastActivity, SYSUTCDATETIME()) > @InactivityMinutes;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg,16,1);
    END CATCH
END;
GO
