@inherits LayoutComponentBase

<MudLayout>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <Header />
        <div class="pa-4">
            @Body
        </div>
        <Footer />
    </MudMainContent>
</MudLayout>
